# Database
DB_ENGINE=sqlite
DB_NAME=db.sqlite3

# Django


# Redis
REDIS_HOST=localhost

# Telegram
TELEGRAM_BOT_TOKEN=your-telegram-bot-token

# Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0


SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,*.onrender.com
DATABASE_URL=postgresql://user:password@localhost:5432/dbname
REDIS_URL=redis://localhost:6379/0