# Core Django
Django==5.2.7
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1

# API Documentation
drf-spectacular==0.28.0

# Database
psycopg2-binary==2.9.9

# Production server
gunicorn==25.0.1

# Static files
whitenoise==6.6.0

# Environment variables
python-dotenv==1.2.1

# CORS (если нужно)
django-cors-headers==4.9.0

